* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table {
    width: 300px;
    margin: auto;
    background-color: #ffc;
    border: 2px solid #f00;
    padding: 5px;
}
td{
    text-align: center;
}
h1{
    text-align: center;
}